node_modules
.pnpm-store
.turbo
.next
out
build
dist
coverage
.env
.env.local
.env.*.local
!.env.example
*.log
.DS_Store
.vscode/
.idea/

# Prisma
prisma/*.db
prisma/*.db-journal

# OS
Thumbs.db
# TypeScript build info
*.tsbuildinfo
